.mohsen-education {
  padding: 50px 0px;
}
.mohsen-education li {
  font-size: 18px;
  text-align: justify;
}
.mohsen-education h1 {
  padding-top: 15px;
  text-align: justify;
}
.mohsen-education h2 {
  text-align: justify;
  padding-left: 10px;
  border-left: 6px solid #00e932;
  border-bottom: 0.1px solid #00e9322a;
}
.mohsen-education-images {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.mohsen-education-images a {
  width: 100%;
  padding: 0 20px 20px 20px;
  cursor: zoom-in;
  opacity: 0.75;
}
.mohsen-education-images a:hover {
  opacity: 1;
}
@media screen and (max-width: 990px) {
  .mohsen-education {
    padding: 70px 0px;
  }
  .mohsen-education-images {
    padding: 0px;
    display: block;
  }
  .mohsen-education-images a {
    padding: 0;
  }
}
