body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  transition: 3s;
}
.gray {
  color: #bdbdbd;
}
.yellow {
  color: #ffc400;
}
.blu {
  color: #03a9f4;
}
.green {
  color: #00e932;
}
.pointer {
  cursor: pointer;
}
.main {
  position: relative;
  width: 100%;
}
.main-container {
  transition: 3s;
}
*, ::after, ::before {
  box-sizing: unset !important;
}
@media screen and (max-width: 990px) {
  ul {
    padding: 0;
  }
  li,
  p {
    font-size: 12px !important;
    text-align: unset !important;
  }
  h2,
  h5 {
    font-size: 15px !important;
    text-align: unset !important;
  }
}
