.matrix {
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
pre {
  width: fit-content;
  overflow: hidden;
  font-weight: 700;
  text-decoration: none;
  writing-mode: vertical-rl;
  text-orientation: upright;
  transform: translatey(-100%);
  animation: matrix linear 100s infinite;
}

@keyframes matrix {
  100% {
    transform: translatey(100%);
  }
}
