.navbar {
  transition: 0.4s;
  height: 40px;
  z-index: 99;
  position: relative;
  width: 100%;
  top: 0;
  border-bottom: 2px solid #02a525;
  background-color: #181818;
}
.nav-link:hover,
.navbar-brand:hover {
  color: #00e932 !important;
}
.navbar-nav {
  width: 100%;
  border-left: 6px solid #00e932;
}
.navbar-nav span {
  margin-left: auto;
}
@media screen and (max-width: 990px) {
  .navbar {
    height: fit-content;
  }
  .navbar-nav {
    padding-left: 10px;
  }
  .nav-link {
    font-size: 20px !important;
  }
}
